:root{
  /* ---- VARIABLES ---- */
  /* https://colorhunt.co/palette/21336317594a8eac50d3d04f */
  
  --backgroundColor: #8EAC50;
  --backgroundAccent: #17594A;
  --highlightColor: #D3D04F;
  --borderSmall: 2px solid #8EAC50;
  --homeBorderSmall: 1px solid black;
  --borderRadius: .75em;
  --avatarIcon: 45px;
  --avatarFull: 90px;
  --hoverTransition: 0.3s;
}

*{
  box-sizing: border-box;
}

body {
  padding-bottom: 150px;
  margin: 0 auto;
  min-width: 700px;
  max-width: 70vw;
  min-height: 100%;
  font-family: verdana;
  background-color: var(--backgroundColor);
  overflow-x: hidden;
}

.error {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  border-radius: 1rem;
  padding: 0.5rem;
}

form > * {
  margin: 0.5rem;
}

nav{
  
  width: 100%;
  color: white;
  background-color: #17594A;
  box-shadow: 5px 5px 20px -5px var(--backgroundAccent);
  border: 1px solid black;
  border-top: none;
}
.nav-inner{
  
  height: 100px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 5px;
  border: var(--borderSmall);
  border-top: none;
  
}
nav * {
  
  flex-grow: none;
  text-align:center;
  margin: 0;
  /* flex: 1; */
  font-weight: 800;
  text-shadow: 0px 1px 2px black;
  transition: var(--hoverTransition);
}
nav a {
  color: white;
  font-size: 1.5em;
}
nav *:hover {
  scale: 1.1;
}

.nav-user {
  max-width: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.nav-inner *{
  position: relative;
  width: 100%;
  
}

.crown-icon{
  scale: .5;
}
/* NAV CART ICON */
.cart-icon {
  /* top: 0; */
  /* position: absolute; */
  fill: white;
  height: 60px;
  width: 60px;
}

.cart-count {
  left: 0px;
  top: 0;
  position: absolute;
  font-size: small;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 35px;
  max-width: 35px;
  border-radius: 50%;
}
/* NAV CART ICON END */

.cart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: column; */
  text-shadow: 1px 1px 1px white;
  background-color: white;
  border: var(--borderSmall);
  border-radius: var(--borderRadius);
  box-shadow: 5px 5px 20px -5px var(--backgroundAccent);
  min-height: 300px;
  background-color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 15px ;
}
.cart:last-child {
  align-items: start;
}

.cart-header {
  font-size: 1.7rem;
  color: white;
  margin: 0;
  padding: 30px;
  width: 100%;
  text-align: center;
  background-color: var(--backgroundAccent);
  border: var(--borderSmall);
  
}
.cart-header h1 {
  margin: 0;
}

.cart select {
  max-width: 200px;
}

.cart a {
  color: var(--backgroundAccent);
  text-decoration: underline;
}

.cart-totals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  border: var(--borderSmall);
  border-radius: var(--borderRadius);
  padding: 25px;
}

.cart li {
  position: relative;
  /* width: 70%; */
  border: 1px solid black;
  padding: 5px;
}
.cart li * {
  max-width: 75%;
}

.cart li:not(:first-child){
  border-top: none;
}

.cart button{
  min-width: 35px;
  margin: 10px;
}

.cart-product-total {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid black;
  height: 100%;
  width: 25%;
  
}

@keyframes welcome-message {
  0% { 
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% { 
    scale: 1;
  }
}
.welcome-message{
  position: absolute;
  text-align: center;
  width: 200px;
  top: 65px;
  right: 110%;
  animation: welcome-message 6s infinite;
}

a{
  text-decoration: none;
  color: black;
  transition: var(--hoverTransition);
}
/* a:hover {
  color: var(--backgroundColor);
} */

button {
  text-shadow: none;
  font-size: .8rem;
  background-color: var(--highlightColor);
  border-style: none;
  border-radius: 1.25em;
  padding: 0.75em;
  box-shadow: 0px 5px 10px -5px black;
  transition: all var(--hoverTransition);
}

button:active {
  color: white;
  background-color: var(--backgroundAccent);
  box-shadow: 0px 3px 5px -3px black;
}
button:hover {
  color: white;
}
 /* CREATE USER PAGE  */
.signup{
  background-color: white;
  box-shadow: 5px 5px 10px black;
  position: absolute;
  border: 5px solid var(--backgroundColor);
  border-radius: .75em;
  width: 40%;
  height: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.admin-check{
  text-align: center;
  background-color: white;
  padding: 5px;
  width: 30%;
  border:1px solid;
  border-radius: 1.25em;
  padding: 0.75em;
}
 /*  END CREATE USER PAGE  */
 
 
 
/* ---- Cart Section ---- */
.cart > ul{
  list-style-type: none;
}
/* ---- END Cart Section ---- */



/* ---- Dropdown menu ---- */
.dropdown-menu {
  margin-bottom: 5px;
  /* width: 100%; */
  position: relative;
}
.dropdown-menu button{
  width: 100%;
  transition: all var(--hoverTransition);
}
.dropdown-open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.menu {
  z-index: 5;

  display: flex;
  flex-direction: column;
  opacity: 0;
  width: 100%;
  height: 0;
  background-color: white;
  top: 35px;
  position: absolute;
  border: 2px solid black;
  overflow: hidden;
  transition: height .5s;
}
.menu-open{
  opacity: 1;
  height: auto;
}

.menu-item {
  /* height: 50%; */
  padding: 15px;
  text-align: center;
  border: var(--borderSmall);
  transition: hover var(--hoverTransition);
}
.menu a {
  font-size: .8rem;
  color: black;
  text-shadow: none;
  font-weight: 200;
}
.menu-item:hover{
  background-color: #8EAC50;
}
/* ---- END Dropdown menu ---- */


/* ---- Products ---- */
.products{
  /* display: flex; */
  background-color: white;
  border: 1px solid black;
  text-align: center;
}

.products-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-div{
  /* height: 100%; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: calc(100%/3 - 2rem);
  border: var(--borderSmall);
  border-radius: var(--borderRadius);
  margin: 15px;
  box-shadow: 0px 5px 10px black;
  padding-bottom: 5px;
  transition: all 300ms;
  overflow: hidden;
}
.product-div button {
  margin-bottom: 5px;
}
.product-div hr{
  width: 100%;
}
.product-div a{
  font-size: 1.5rem;
  text-decoration: underline;
}
.product-div a:hover{
  color:#8EAC50;
}
.product-div:hover{
  scale: 1.1;
  box-shadow: 0px 5px 20px black;
}
.product-div:hover img{
  scale: 1.1;
}
.product-div:hover .products-image-div{ 
  border-radius: var(--borderRadius);
  /* box-shadow: 0px 3px 10px black; */
}

.product-list{
  list-style-type: none;
}
.products-image-div{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: var(--borderRadius);
  overflow: hidden;
}
.products-image-div:hover{
  border-radius: var(--borderRadius);
  /* box-shadow: 0px 3px 10px black; */
}
.products img {
  max-height: 150px;
  transition: all .3s;
}

/* ---- End Products ---- */


/* ---- Product ---- */
.product{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
}
.product-info{
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px 0px 50px;
  margin-top: 0;
  width: 60%;
}
.product-info button {
  width: 30%;
  margin-bottom: 10px;
}
.product h1{
  font-size: 2.3rem;
  text-align: center;
}

/*  single product page image  */
.product-image-div{
  width: 40%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: var(--borderSmall);
  border-radius: var(--borderRadius);
  overflow: hidden;
  
}
.product-image-div img {
  height: 250px;
  transition: all 0.3s;
}
.product-image-div:hover img{
  scale: 1.1;
}

.product-reviews {
  border: var(--borderSmall);
  border-radius: var(--borderRadius);
  width: 100%;
}

.reviews{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 
}

.reviews div {
  border: 1px solid black;
  border-radius: var(--borderRadius);
  margin-bottom: 10px;
  min-width: calc(100%/3 - 2em);
  min-height: 60px;
  padding: 10px;
  margin: 10px;
  word-wrap: break-word;
}

/* ---- End Product ---- */


/* ---- USER PROFILE ---- */
.user-image {
  max-height: var(--avatarFull);
  border: var(--borderSmall);
  border-radius: 50%;
  margin-bottom: 15px;
}

.user-profile {
  /* margin-top: 10px; */
  display: flex;
  flex-wrap: wrap;
  text-shadow: 1px 1px 1px white;
  background-color: white;
  border: var(--borderSmall);
  border-radius: var(--borderRadius);
  box-shadow: 5px 5px 20px -5px var(--backgroundAccent);
  min-height: 300px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.user-profile h1{
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: var(--backgroundAccent);
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  text-transform: capitalize;
  font-size: 3rem;
  margin: 0;
}

.user-section {
  margin: 15px;
  min-height: 175px;
  flex: 3;
  margin-bottom: 20px;
}
.settings {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  /* flex: 3; */
}
.settings *{
  flex: 1;
}

.settings-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.admin-users{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.admin-users * {
  flex: 1;
  text-transform: capitalize;
}
.admin-user-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
}

.admin-user-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: capitalize;
}

.user-links {
  padding-top: 45px;
  flex: 1;
  border-left: 1px solid black;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-links a {
  color: black;
  margin-bottom: 10px;
}
.user-links a:hover {
  color: var(--backgroundColor);
}

.star{
  width: 4%;
}

#file{
  display: none;
}
/* ---- END USER PROFILE ---- */


.create-product {
  /* margin-top: 10px; */
  text-shadow: 1px 1px 1px white;
  background-color: white;
  border: var(--borderSmall);
  border-radius: var(--borderRadius);
  box-shadow: 5px 5px 20px -5px var(--backgroundAccent);
  min-height: 300px;
  background-color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.addy-dropdown{
  max-width: 150px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  list-style-type: none;
}
.pagination * {
  margin: 5px;
}

.page-link {
  border-radius: 5px;
}



/* -------- HOME PAGE -------- */

.hero-image {
  /* margin-top: 0; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 500px;
  background: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, 0.3)),url("../assets/hero-image.jpg") ;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-size: cover;
}
.hero-image h1 {
  /* margin: 0; */
}
.hero-image *{
  text-shadow: 0 1px 5px white;
  max-width: 60%;
  margin: 25px;
}
.hero-image button {
  width: 125px;
}

.home-description {
  box-sizing: border-box;
  background-color: white;
  padding: 1em;
  border: 1px solid black;
  border-top: none;
}

.home-description p {
  margin: 0px;
}

.home-categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 10px;
}


/* all categories */
.home-categories div a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 10px white;
  margin-top: 10px;
  height: 20vh;
  background-size: cover;
  background-position: center;
  border: var(--homeBorderSmall);
  border-radius: var(--borderRadius);
  
  box-shadow: 0px 10px 10px -7px black;
}

.home-categories div a:hover {
  scale: 1.2;
  box-shadow: 0px 10px 20px black;
}


.sweets {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* sweets */
.sweets a {
  width: 40%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/dessert-ga33bdfbe1_1280.jpg');
}

/* other sh... stuff */
.other-categories a:nth-child(1) {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/salmon-gcd9d51741_1280.jpg');
  background-size: cover;
  background-position: center;
}
.other-categories a:nth-child(2) {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/fruits-g8e6cc7c85_1280.jpg');
  background-size: cover;
  background-position: center;
}
.other-categories a:nth-child(3) {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/vegetables-g5f9a30f21_1280.jpg');
  background-size: cover;
  background-position: center;
}

.other-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.other-categories a {
  width: 30%;
}

.category h2 {
  margin: 0px;
}









@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.vip {
  animation: blinker 1s linear infinite;
  color: gold;
  text-shadow: 2px 2px black;
}
